<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solicitar Pedido</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>

        #formCabecera{
            display: none;
        }

    </style>
    <script src='/socket.io.js' type='text/javascript'></script>
</head>

<body>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title text-center">Realiza una compra</h2>
                </div>

                <div id="formPedido">

                        <div class="row">
                            <div class="col-sm-6">
                                    <label for="actores">Actores:</label>
                                    <select name="actores" id="actores" onchange="location = '/api/pedido/nueva-compra/'+this.value">
                                        <option value="0">Seleccione un actor</option>
                                        <%actores.forEach((actor)=>{%>
                                        <option value=<%=actor.id%>><%=actor.nombresActor +" "+ actor.apellidosActor%></option>
                                        <%})%>
                                    </select>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="totalSinImpuesto">Total sin IVA</label>
                                        <input type="text"
                                               name="totalSinImpuesto"
                                               class="form-control"
                                               id="totalSinImpuesto"
                                               value=<%=precios.totalSinImpuesto%>
                                               disabled>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="totalConImpuesto">Total con IVA</label>
                                        <input type="text"
                                               name="totalConImpuesto"
                                               class="form-control"
                                               id="totalConImpuesto"
                                               value=<%=precios.totalConImpuesto%>
                                               disabled
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%if(peliculas.length>0){%>
                    <form action="/api/pedido/anadir-pelicula"
                          method="post">
                        <div class="col-sm-6">
                            <table class="table table-striped" id="tableRow">
                                <th>Nombre Pelicula</th>
                                <th>Precio</th>
                                <th>Añadir</th>
                                </tr>
                                <%peliculas.forEach((pedido)=>{%>
                                <tr>
                                    <td>
                                        <input type="text" value="<%=pedido.nombrePelicula%>"
                                               class="form-control"
                                               name="nombre"
                                        >
                                    </td>
                                    <td>
                                        <input type="text"
                                               value="<%=pedido.precioPelicula %>"
                                               class="form-control"
                                               name="precio"
                                        >
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-outline-success">+</button>
                                    </td>
                                </tr>
                                <%})%>
                            </table>
                        </div>
                    </form>
                        <%}%>
                </div>

                <button class="btn btn-outline-success" id="datosCompra">Ingresar datos de compra</button>

                <div id="formCabecera">

                    <form action="/api/pedido/nueva-compra"
                    method="post">

                        <div class="row">

                            <div class="col-sm-6">
                                <label for="ciUsuario">CI</label>
                                <input type="text"
                                       name="ciUsuario"
                                       class="form-control"
                                       id="ciUsuario"
                                       placeholder="Ingrese su CI">


                                <label for="nombreUsuario">Nombre</label>
                                <input type="text"
                                       name="nombreUsuario"
                                       class="form-control"
                                       id="nombreUsuario"
                                       placeholder="Ingrese su nombre">
                            </div>
                            <div class="col-sm-6">
                                <label for="direccionUsuario">Dirección</label>
                                <input type="text"
                                       name="direccionUsuario"
                                       class="form-control"
                                       id="direccionUsuario"
                                       placeholder="Ingrese su dirección">


                                <label for="telefonoUsuario">Teléfono</label>
                                <input type="text"
                                       name="telefonoUsuario"
                                       class="form-control"
                                       id="telefonoUsuario"
                                       placeholder="Ingrese su teléfono">
                            </div>

                            <div class="col-sm-6">
                                <label for="totalConImpuesto"></label>
                                <input type="text"
                                       name="totalConImpuesto"
                                       value="<%=precios.totalConImpuesto%>"
                                       class="form-control"
                                       id="totalConImpuesto"
                                       hidden>


                                <label for="totalSinImpuesto"></label>
                                <input type="text"
                                       name="totalSinImpuesto"
                                       value="<%=precios.totalSinImpuesto%>"
                                       class="form-control"
                                       id="totalConImpuesto"
                                       hidden>

                                <label for="idPedido"></label>
                                <input type="text"
                                       name="idPedido"
                                       value="<%=nuevoPedido.idPedido%>"
                                       class="form-control"
                                       id="idPedido"
                                       hidden>
                            </div>

                        </div>
                        <button type="button" onclick="pedidoComprado()" class="btn btn-success">Comprar</button>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

<script>

        const url = 'http://localhost:3001/websockets';
        const socket = io(url);
        console.log('Ya mismito nos conectamos');
        socket.on(
            'connect', //nombre del evento
            () => {
                console.log('Estamos conectados');
            }
        );
        socket.on(
            'comprado',
            () => {
                console.log('Compró');
            }
        )
        function pedidoComprado() {
            const nombreUsuario = document.getElementById("nombreUsuario").value;
            const ciUsuario = document.getElementById("ciUsuario").value;
            const direccionUsuario = document.getElementById("direccionUsuario").value;
            const telefonoUsuario = document.getElementById("telefonoUsuario").value;
            const totalSinImpuesto = document.getElementById("totalSinImpuesto").value;
            const totalConImpuesto = document.getElementById("totalConImpuesto").value;
            const idPedido = document.getElementById("idPedido").value;

            const nombreMetodo = 'realizoPedido';
            const datos = {
                idPedido:idPedido,
                nombreUsuario: nombreUsuario,
                ciUsuario: ciUsuario,
                direccionUsuario: direccionUsuario,
                telefonoUsuario: telefonoUsuario,
                totalSinImpuesto: totalSinImpuesto,
                totalConImpuesto: totalConImpuesto,
                estadoPedido: 'Por despachar'

            };
            console.log(datos);
            socket.emit(
                nombreMetodo,
                datos,
                (respuesta) => {
                    console.log(respuesta)
                }
            );
        }

        var button = document.getElementById('datosCompra');
        button.onclick = function () {
            var div = document.getElementById('formCabecera');
            if (div.style.display !== 'block') {
                div.style.display = 'block';
            } else {
                div.style.display = 'none';
            }
        };



    </script>
</body>
</html>
