<% const nombre = 'gorkyjaus' //codigo JS %>
<%=nombre%>
<%const arreglo = [1,2,3,4,5];%>
<%=arreglo%>
<%const objeto = {nombre:'Gorky'};%>
<%= objeto %>

<% arreglo.forEach((valorActual)=>{%>
<p>Numero: <%=valorActual%></p>
<%})%>

<ul>
    <% arreglo.forEach((valorActual)=>{%>
    <li>Numero: <%=valorActual%></li>
    <%})%>
</ul>

<%if (estaVivo) {%>
<h1>ESTA VIVOOOO!!!</h1>
<%}else{%>
<h2>SE MURIO :(</h2>
<%}%>


<%if (prueba>5){%>
<h1>EL NUMERO ENVIADO ES MAYOR A 5</h1>
<%}%>